@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.background_bug {

  background-color: rgba(144, 186, 46, 0.473);
}

.background_dark {

  background-color: #59576179;

}

.background_dragon {

  background-color: rgba(12, 106, 200, 0.463)7d;

}

.background_electric {

  background-color: #ffd9007a;

}

.background_fire {

  background-color: #ff5e0191;

}

.background_fairy {

  background-color: #ee90e683;

}

.background_fighting {

  background-color: #d3425f72;

}

.background_flying {

  background-color: #a1bbec6f;

}

.background_ghost {

  background-color: #5f6dbc78;

}

.background_grass {

  background-color: #11ff00;

}

.background_ground {

  background-color: #da7c4d75;

}

.background_ice {

  background-color: #75d0c177;

}

.background_normal {

  background-color: #a0a29f75;

}

.background_poison {

  background-color: #c906ff77;

}

.background_psychic {

  background-color: #ff080072;

}

.background_rock {

  background-color: #c9bb8a6b;

}

.background_steel {

  background-color: #5695a370;

}

.background_water {

  background-color: hsla(208, 100%, 50%, 0.419);

}

body {
  background-color: rgb(240, 240, 240);

}

.contain {
  width: 100%;
  height: 100vh;
  /*  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 8px; */
  display: flex;
  flex-direction: row;

}

.full_pokemon {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.home_page {
  width: 40%;
  height: 100%;

  color: rgb(103, 103, 103);
  font-size: 13px;
  font-weight: 900;

}



@media only screen and (max-width: 500px) {

  .contain {

    flex-direction: column-reverse;
    height: 100vh;
  }

  .full_pokemon {
    width: 100%;
    height: 75%;
  }

  .home_page {
    width: 100%;
    height: 25%;
    font-size: 10px;
  }


}