.progress_bar {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 2rem;
    overflow: hidden;
}

.bar {
    position: absolute;
    height: 100%;
    border-radius: 50px;
    transform: rotate(-45deg);
}